useDynLib("RcppExamples", .registration=TRUE)

export("RcppDataFrame",
       "RcppDateExample",
       "RcppListExample",
       "RcppNumericVectorExample",
       "RcppMatrixExample",
       "RcppRNGsExample",
       "RcppStringVectorExample"
)

importFrom("Rcpp", "evalCpp")

