useDynLib(RcppExamples)

export(RcppExample,
       print.RcppExample,
       RcppDateExample,
       RcppParamsExample,
       RcppVectorExample,
       RcppMatrixExample
)

#importFrom( utils, capture.output )

